---
import Layout from "../layouts/Layout.astro";
import imgOne from "../images/legislativo/img-1.jpeg";
import imgTwo from "../images/legislativo/img-2.jpeg";
---
<style>
    .more{
        color:#e3342f;
        padding-top: 20px;
    }
    .more:hover{
        color: #6f0000;
    }
</style>

<Layout title="Trabajo legislativo de Omar Ortega" description="Conoce el Trabajo lesgislativo de Omar Ortega">
    <section>
        <div class="h-96 flex items-center justify-center bg-yellow-400">
            <h2 class="uppercase text-center font-semibold text-4xl">Trabajo legislativo</h2>
        </div>
    </section>
    <section>
        <div class="lg:flex max-w-screen-xl mx-auto lg:my-10">
            <div class="basis-1/2">
                <img class="lg:w-5/6 w-full" src={imgOne.src} alt="Imagen de omar ortega">
                <img class="lg:w-5/6 w-full hidden lg:block" src={imgTwo.src} alt="Imagen de omar ortega">
            </div>
            <div class="space-y-6 basis-1/2 md:mx-10 mx-8 lg:mx-0 my-10 lg:my-0">
                <h2 class="uppercase font-semibold text-2xl">Trabajo legislativo</h2>
                <ul class="list-disc">
                    <li>Diputado Secretario de la Junta de Coordinación Política en la LXL Legislatura del Estado de México 2021-2024.</li>
                    <li>Coordinador del Grupo Parlamentario del Partido de la Revolución Democrática en la LXI Legislatura del Estado de México 2021-2024.</li>
                </ul>
                <p>Miembros de las Comisiones de:</p>
                <ul class="list-disc">
                    <li>Comisión Legislativa de Trabajo, Prevención y Seguridad Social (Secretario)</li>
                    <li>Comisión Legislativa de Derechos Humanos (Prosecretario)</li>
                    <li>Comisión Legislativa de Gobernación y Puntos Constitucionales (Miembro)</li>
                    <li>Comisión Legislativa de Legislación y Administración Municipal (Miembro)</li>
                    <li>Comisión Legislativa de Procuración y Administración de Justicia (Miembro)</li>
                    <li>Comisión Legislativa de Seguridad Pública y Tránsito (Miembro)</li>
                    <li>Comisión Legislativa Electoral y Desarrollo Democrático (Miembro)</li>
                    <li>Comisión Legislativa de Vigilancia del Órgano Superior de Fiscalización (Miembro)</li>
                </ul>
                <ul class="list-disc">
                    <li>Diputado Local de la LX Legislatura del Estado de México 2018-2021.</li>
                    <li>Coordinador de Procesos Legislativos y Jurídicos del Grupo Parlamentario del PRD.</li>
                    <li>Coordinador del Grupo Parlamentario del PRD y miembro de la Junta de Coordinación Política.</li>
                    <li>Diputado Local Suplente de la LVII Legislatura en el Estado de México 2009-2012.</li>
                    <li>Diputado Local Suplente de la LIV Legislatura en el Estado de México 2000 – 2003.</li>
                </ul>
                <p>Mis informes de trabajo legislativo:</p>
                <ul>
                    <li>Primer informe</li>
                    <li>Segundo informe</li>
                </ul>
                <p>2021-2024 Iniciativas:</p>
                <div>
                    <p class="pb-4">Primer Año Legislativo</p>
                    <p>En mi primer año como Diputado Local presenté 18 iniciativas que abordaban temas relacionados a Derechos Humanos, procuración de justicia, salud y bienestar social, educación, cambio climático, ciencia y tecnología. </p>
                </div>
                <div>
                    <p class="pb-4">7 de octubre de 2021</p>
                    <p>Iniciativa con Proyecto de Decreto por el cual se expide la Ley de Salud Mental del Estado de México, la Ley Estatal de Prevención, Atención y Posvención del Suicidio, así como la Ley de Educación Emocional del Estado de México.</p>
                    <p>Iniciativas por la Salud Mental.</p>
                </div>
                <div>
                    <p class="pb-4">4 de noviembre de 2021</p>
                    <p>Iniciativa con Proyecto de Decreto, por el que se reforma el artículo 8 párrafo segundo y se adiciona la fracción IX, así como los apartados a), b), c) y d) del artículo 9 de la Ley Para Prevenir, Combatir y Eliminar Actos de Discriminación en el Estado de México.</p>
                </div>
                <div>
                    <p class="pb-4">18 de noviembre de 2021</p>
                    <p>Iniciativa con Proyecto de Decreto por la cual se reforma la fracción I, II, se agrega la fracción VII, al artículo 2.202 y se agrega el artículo.</p>
                    <p>2.202 Bis del Código de Biodiversidad del Estado de México.</p>
                </div>
                <div>
                    <p class="pb-4">30 de noviembre de 2021</p>
                    <p>Iniciativa con Proyecto de Decreto por el que se reforma la fracción LI del artículo 61 y la fracción XLVIII de la fracción 77 de la Constitución Política del Estado Libre y Soberano de México, así como, se expide la Ley de Gobiernos de Coalición, Reglamentaria de los artículos 61 fracción LI y 77 fracción XLVIII de la Constitución Política del Estado Libre y Soberano de México.</p>
                </div>
                <div>
                    <p class="pb-4">7 de diciembre</p>
                    <p>Iniciativa con Proyecto de Decreto por el que se adiciona el tercer párrafo del artículo 11, recorriéndose los subsecuentes y se adiciona la fracción VI del artículo 27 de la Ley de los Derechos de Niñas, Niños y Adolescentes del Estado de México y se adiciona la fracción IV del artículo 204 del Código Penal del Estado de México en materia de matrimonio infantil.</p>
                </div>
                <div>
                    <p class="pb-4">3 de febrero de 2022</p>
                    <p>Iniciativa con Proyecto de Decreto por el que se expide la Ley de Fomento al Emprendimiento del Estado de México.</p>
                    <p>Crecimiento económico mediante el estímulo al espíritu emprendedor.</p>
                </div>
                <div>
                    <p class="pb-4">10 de febrero de 2022</p>
                    <p>Iniciativa con Proyecto de Decreto por el que se reforma la fracción VII del artículo 128 de la Constitución Política del Estado Libre y Soberano de México y se reforma la fracción VI del artículo 48 y se adiciona un segundo párrafo al artículo 86 de la Ley Orgánica Municipal del Estado de México.</p>
                    <p>Terna para elegir a las Direcciones Municipales.</p>
                </div>
                <p>Segundo Año Legislativo</p>
                <p>A lo largo de mi segundo periodo las 16 iniciativas formuladas se centraron en temas de   apoyos sociales, igualdad de género, trabajo y seguridad social, procuración de justicia, gobernación, desarrollo urbano y económico.</p>
                <a href="https://www.prdedomex.org/grupo-parlamentario-omar-ortega-alvarez/">
                <p class="more">Leer más &rarr;</p>
                </a>
            </div>
        </div>
    </section>
</Layout>