---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import og from '../images/og-image.jpeg';
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	blogVariant?: boolean;
}

const { title } = Astro.props;

---


<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={og.src} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<Nav blogVariant={Astro.props.blogVariant}/>
		<slot/>
		<Footer/>
	</body>
</html>

